
@import "toolkit";

@import "partials/global/variables";
@import "partials/global/mixins";

a {
  text-decoration: none;
  color: inherit;
}

.gallery {
  position: relative;
  height: 200px;
  @include breakpoint(600px) {
    height: 300px;
  }
  .item {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    &:first-of-type {
      opacity: 1;
      z-index: 1;
    }
  }
  .controls {
    @include control-inactive;

    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    z-index: 5;

    font-size: 3em;
    a {
      @include transition(color .25s);
    }
    a:hover {
      @include control-active;
    }
  }
}

.gallery {
  .control-operator {
    display: none;
  }
  .control-operator:target ~ .item {
    @include animation(none);
  }
  .control-operator:target ~ .controls .control-item {
    @include control-inactive;
    @include animation(none);
  }
}

@include gallery(3);

.item-1 {
  background: #FF5C43;
  .could-i-use-a-container-wrapper {
    margin-top: 5em;
    a {
      color: lighten(black, 35%);
      text-rendering: optimizeLegibility;
      font-size: 13pt;
      @for $i from 1 through 20 {
        @include breakpoint((240px + 20px * $i)) {
          font-size: 13pt + 0.75pt * $i;
        }
      }
    }
  }
}

.item-2 {
  background: #097BC0;
  .nyc-camp-hashtag-wrapper {
    margin-top: 6em;
    a {
      color: lighten(black, 15%);
      font-size: 8.6pt;
      text-rendering: optimizeLegibility;
      @for $i from 1 through 20 {
        @include breakpoint((240px + 20px * $i)) {
          font-size: 8.6pt + 0.75pt * $i;
        }
      }
    }
  }
}

.item-3 {
  background: #285E88;
  img {
    margin-top: 2em;
    @include breakpoint(600px) {
      margin-top: 5em;
    }
  }
}
