@import "toolkit";
@import "animation";

@import "partials/global/variables";
@import "partials/global/mixins";

@import "partials/animations";

a {
  text-decoration: none;
  color: inherit;
}

.gallery {
  margin-bottom: 100em;
  position: relative;
  height: 300px;
  .item {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .25s;
    &:first-of-type {
      opacity: 1;
    }
  }
  .controls {
    @include control-inactive;

    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;

    font-size: 3em;
    a {
      transition: color .25s;
    }
    a:hover {
      @include control-active;
    }
  }
}

.gallery {
  .item {
    @include animation(galleryAnimation #{$gallery-total-duration}s infinite);
  }
  .controls {
    .control-item {
      @include animation(controlAnimation #{$gallery-total-duration}s infinite);
    }
  }
  .control-operator {
    display: none;
  }
  .control-operator:target ~ .item {
    @include animation(none);
  }
  .control-operator:target ~ .controls .control-item {
    @include control-inactive;
    @include animation(none);
  }
  @for $i from 1 through $gallery-item-count {
    .control-operator:nth-of-type(#{$i}):target ~ .item:nth-of-type(#{$i}) {
      opacity: 1;
    }
    .control-operator:nth-of-type(#{$i}):target ~ .controls .control-item:nth-of-type(#{$i}) {
      @include control-active;
    }
    .item:nth-of-type(#{$i}),
    .control-item:nth-of-type(#{$i}) {
      $delay:#{ ($i - 1) * ($gallery-item-total-duration) - $gallery-item-transition-duration }s;
      @include animation-delay($delay);
    }
  }
}



.item-1 {
  background: #327BBA;
}

.item-2 {
  background: #00BC9E;
}

.item-3 {
  background: #BDC3C7;
}
