*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/stylesheets/../behaviors/box-sizing/boxsizing.php');
}

img, video {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.gallery {
  position: relative;
  height: 200px;
}
@media (min-width: 20em) {
  .gallery {
    height: 300px;
  }
}
.gallery .item {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .25s;
}
.gallery .item:first-of-type {
  opacity: 1;
}
.gallery .controls {
  color: whiteSmoke;
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 3em;
}
.gallery .controls a {
  transition: color .25s;
}
.gallery .controls a:hover {
  color: white;
  color: white;
}

.gallery .control-operator {
  display: none;
}
.gallery .control-operator:target ~ .item {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
}
.gallery .control-operator:target ~ .controls .control-item {
  color: whiteSmoke;
  color: rgba(255, 255, 255, 0.4);
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
}

@-moz-keyframes galleryAnimation-3 {
  0% {
    opacity: 0;
  }

  9.52381%,
  33.33333% {
    opacity: 1;
  }

  42.85714%,
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes galleryAnimation-3 {
  0% {
    opacity: 0;
  }

  9.52381%,
  33.33333% {
    opacity: 1;
  }

  42.85714%,
  100% {
    opacity: 0;
  }
}
@-o-keyframes galleryAnimation-3 {
  0% {
    opacity: 0;
  }

  9.52381%,
  33.33333% {
    opacity: 1;
  }

  42.85714%,
  100% {
    opacity: 0;
  }
}
@-ms-keyframes galleryAnimation-3 {
  0% {
    opacity: 0;
  }

  9.52381%,
  33.33333% {
    opacity: 1;
  }

  42.85714%,
  100% {
    opacity: 0;
  }
}
@keyframes galleryAnimation-3 {
  0% {
    opacity: 0;
  }

  9.52381%,
  33.33333% {
    opacity: 1;
  }

  42.85714%,
  100% {
    opacity: 0;
  }
}
@-moz-keyframes controlAnimation-3 {
  0% {
    color: whiteSmoke;
    color: rgba(255, 255, 255, 0.4);
  }

  9.52381%,
  33.33333% {
    color: white;
    color: white;
  }

  42.85714%,
  100% {
    color: whiteSmoke;
    color: rgba(255, 255, 255, 0.4);
  }
}
@-webkit-keyframes controlAnimation-3 {
  0% {
    color: whiteSmoke;
    color: rgba(255, 255, 255, 0.4);
  }

  9.52381%,
  33.33333% {
    color: white;
    color: white;
  }

  42.85714%,
  100% {
    color: whiteSmoke;
    color: rgba(255, 255, 255, 0.4);
  }
}
@-o-keyframes controlAnimation-3 {
  0% {
    color: whiteSmoke;
    color: rgba(255, 255, 255, 0.4);
  }

  9.52381%,
  33.33333% {
    color: white;
    color: white;
  }

  42.85714%,
  100% {
    color: whiteSmoke;
    color: rgba(255, 255, 255, 0.4);
  }
}
@-ms-keyframes controlAnimation-3 {
  0% {
    color: whiteSmoke;
    color: rgba(255, 255, 255, 0.4);
  }

  9.52381%,
  33.33333% {
    color: white;
    color: white;
  }

  42.85714%,
  100% {
    color: whiteSmoke;
    color: rgba(255, 255, 255, 0.4);
  }
}
@keyframes controlAnimation-3 {
  0% {
    color: whiteSmoke;
    color: rgba(255, 255, 255, 0.4);
  }

  9.52381%,
  33.33333% {
    color: white;
    color: white;
  }

  42.85714%,
  100% {
    color: whiteSmoke;
    color: rgba(255, 255, 255, 0.4);
  }
}
.gallery .control-item {
  -webkit-animation: controlAnimation-3 21s infinite;
  -moz-animation: controlAnimation-3 21s infinite;
  -ms-animation: controlAnimation-3 21s infinite;
  -o-animation: controlAnimation-3 21s infinite;
  animation: controlAnimation-3 21s infinite;
}
.gallery .item {
  -webkit-animation: galleryAnimation-3 21s infinite;
  -moz-animation: galleryAnimation-3 21s infinite;
  -ms-animation: galleryAnimation-3 21s infinite;
  -o-animation: galleryAnimation-3 21s infinite;
  animation: galleryAnimation-3 21s infinite;
}
.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}
.gallery .control-operator:nth-of-type(1):target ~ .controls .control-item:nth-of-type(1) {
  color: white;
  color: white;
}
.gallery .control-item:nth-of-type(1),
.gallery .item:nth-of-type(1) {
  -webkit-animation-delay: -2s;
  -moz-animation-delay: -2s;
  -ms-animation-delay: -2s;
  -o-animation-delay: -2s;
  animation-delay: -2s;
}
.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}
.gallery .control-operator:nth-of-type(2):target ~ .controls .control-item:nth-of-type(2) {
  color: white;
  color: white;
}
.gallery .control-item:nth-of-type(2),
.gallery .item:nth-of-type(2) {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -ms-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
}
.gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1;
}
.gallery .control-operator:nth-of-type(3):target ~ .controls .control-item:nth-of-type(3) {
  color: white;
  color: white;
}
.gallery .control-item:nth-of-type(3),
.gallery .item:nth-of-type(3) {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -ms-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}

.item-1 {
  background: #FF5C43;
}
.item-1 p {
  color: #595959;
  font-size: 13pt;
  text-rendering: optimizeLegibility;
  margin-top: 5em;
}
@media (min-width: 16.25em) {
  .item-1 p {
    font-size: 13.75pt;
  }
}
@media (min-width: 17.5em) {
  .item-1 p {
    font-size: 14.5pt;
  }
}
@media (min-width: 18.75em) {
  .item-1 p {
    font-size: 15.25pt;
  }
}
@media (min-width: 20em) {
  .item-1 p {
    font-size: 16pt;
  }
}
@media (min-width: 21.25em) {
  .item-1 p {
    font-size: 16.75pt;
  }
}
@media (min-width: 22.5em) {
  .item-1 p {
    font-size: 17.5pt;
  }
}
@media (min-width: 23.75em) {
  .item-1 p {
    font-size: 18.25pt;
  }
}
@media (min-width: 25em) {
  .item-1 p {
    font-size: 19pt;
  }
}
@media (min-width: 26.25em) {
  .item-1 p {
    font-size: 19.75pt;
  }
}
@media (min-width: 27.5em) {
  .item-1 p {
    font-size: 20.5pt;
  }
}
@media (min-width: 28.75em) {
  .item-1 p {
    font-size: 21.25pt;
  }
}
@media (min-width: 30em) {
  .item-1 p {
    font-size: 22pt;
  }
}
@media (min-width: 31.25em) {
  .item-1 p {
    font-size: 22.75pt;
  }
}
@media (min-width: 32.5em) {
  .item-1 p {
    font-size: 23.5pt;
  }
}
@media (min-width: 33.75em) {
  .item-1 p {
    font-size: 24.25pt;
  }
}
@media (min-width: 33.75em) {
  .item-1 p {
    margin-top: 4em;
  }
}

.item-2 {
  background: #097BC0;
}
.item-2 p {
  color: #262626;
  font-size: 8.6pt;
  text-rendering: optimizeLegibility;
  margin-top: 5em;
}
@media (min-width: 16.25em) {
  .item-2 p {
    font-size: 9.35pt;
  }
}
@media (min-width: 17.5em) {
  .item-2 p {
    font-size: 10.1pt;
  }
}
@media (min-width: 18.75em) {
  .item-2 p {
    font-size: 10.85pt;
  }
}
@media (min-width: 20em) {
  .item-2 p {
    font-size: 11.6pt;
  }
}
@media (min-width: 21.25em) {
  .item-2 p {
    font-size: 12.35pt;
  }
}
@media (min-width: 22.5em) {
  .item-2 p {
    font-size: 13.1pt;
  }
}
@media (min-width: 23.75em) {
  .item-2 p {
    font-size: 13.85pt;
  }
}
@media (min-width: 25em) {
  .item-2 p {
    font-size: 14.6pt;
  }
}
@media (min-width: 26.25em) {
  .item-2 p {
    font-size: 15.35pt;
  }
}
@media (min-width: 27.5em) {
  .item-2 p {
    font-size: 16.1pt;
  }
}
@media (min-width: 28.75em) {
  .item-2 p {
    font-size: 16.85pt;
  }
}
@media (min-width: 30em) {
  .item-2 p {
    font-size: 17.6pt;
  }
}
@media (min-width: 31.25em) {
  .item-2 p {
    font-size: 18.35pt;
  }
}
@media (min-width: 32.5em) {
  .item-2 p {
    font-size: 19.1pt;
  }
}
@media (min-width: 33.75em) {
  .item-2 p {
    font-size: 19.85pt;
  }
}

.item-3 {
  background: #285E88;
}
.item-3 img {
  margin-top: 5em;
}
