*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/stylesheets/../behaviors/box-sizing/boxsizing.php');
}

img, video {
  max-width: 100%;
  height: auto;
}

.gallery .controls, .gallery .control-operator:target ~ .controls .control-item {
  color: #8c8c8c;
}

.gallery .controls a:hover {
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.gallery {
  position: relative;
  height: 200px;
}
@media (min-width: 37.5em) {
  .gallery {
    height: 300px;
  }
}
.gallery .item {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.gallery .item:first-of-type {
  opacity: 1;
  z-index: 1;
}
.gallery .controls {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  z-index: 5;
  font-size: 3em;
}

.gallery .control-operator {
  display: none;
}
.gallery .control-operator:target ~ .item {
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
}
.gallery .control-operator:target ~ .controls .control-item {
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
}

@-moz-keyframes galleryAnimation-3 {
  0% {
    opacity: 0;
    z-index: 0;
  }

  9.52381%,
  33.33333% {
    opacity: 1;
    z-index: 1;
  }

  42.85714%,
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@-webkit-keyframes galleryAnimation-3 {
  0% {
    opacity: 0;
    z-index: 0;
  }

  9.52381%,
  33.33333% {
    opacity: 1;
    z-index: 1;
  }

  42.85714%,
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes galleryAnimation-3 {
  0% {
    opacity: 0;
    z-index: 0;
  }

  9.52381%,
  33.33333% {
    opacity: 1;
    z-index: 1;
  }

  42.85714%,
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@-moz-keyframes controlAnimation-3 {
  0% {
    color: #8c8c8c;
  }

  9.52381%,
  33.33333% {
    color: white;
  }

  42.85714%,
  100% {
    color: #8c8c8c;
  }
}
@-webkit-keyframes controlAnimation-3 {
  0% {
    color: #8c8c8c;
  }

  9.52381%,
  33.33333% {
    color: white;
  }

  42.85714%,
  100% {
    color: #8c8c8c;
  }
}
@keyframes controlAnimation-3 {
  0% {
    color: #8c8c8c;
  }

  9.52381%,
  33.33333% {
    color: white;
  }

  42.85714%,
  100% {
    color: #8c8c8c;
  }
}
.gallery .control-item {
  -moz-animation: controlAnimation-3 21s infinite;
  -webkit-animation: controlAnimation-3 21s infinite;
  animation: controlAnimation-3 21s infinite;
}
.gallery .item {
  -moz-animation: galleryAnimation-3 21s infinite;
  -webkit-animation: galleryAnimation-3 21s infinite;
  animation: galleryAnimation-3 21s infinite;
}
.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
  z-index: 1;
}
.gallery .control-operator:nth-of-type(1):target ~ .controls .control-item:nth-of-type(1) {
  color: white;
}
.gallery .control-item:nth-of-type(1),
.gallery .item:nth-of-type(1) {
  -moz-animation-delay: -2s;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}
.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
  z-index: 1;
}
.gallery .control-operator:nth-of-type(2):target ~ .controls .control-item:nth-of-type(2) {
  color: white;
}
.gallery .control-item:nth-of-type(2),
.gallery .item:nth-of-type(2) {
  -moz-animation-delay: 5s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1;
  z-index: 1;
}
.gallery .control-operator:nth-of-type(3):target ~ .controls .control-item:nth-of-type(3) {
  color: white;
}
.gallery .control-item:nth-of-type(3),
.gallery .item:nth-of-type(3) {
  -moz-animation-delay: 12s;
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

.item-1 {
  background: #FF5C43;
}
.item-1 .could-i-use-a-container-wrapper {
  margin-top: 4em;
}
.item-1 .could-i-use-a-container-wrapper a {
  display: block;
}
.item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
  color: #4d4d4d;
  text-rendering: optimizeLegibility;
  font-size: 13pt;
  margin-bottom: .5em;
}
@media (min-width: 16.25em) {
  .item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
    font-size: 13.75pt;
  }
}
@media (min-width: 17.5em) {
  .item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
    font-size: 14.5pt;
  }
}
@media (min-width: 18.75em) {
  .item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
    font-size: 15.25pt;
  }
}
@media (min-width: 20em) {
  .item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
    font-size: 16pt;
  }
}
@media (min-width: 21.25em) {
  .item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
    font-size: 16.75pt;
  }
}
@media (min-width: 22.5em) {
  .item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
    font-size: 17.5pt;
  }
}
@media (min-width: 23.75em) {
  .item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
    font-size: 18.25pt;
  }
}
@media (min-width: 25em) {
  .item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
    font-size: 19pt;
  }
}
@media (min-width: 26.25em) {
  .item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
    font-size: 19.75pt;
  }
}
@media (min-width: 27.5em) {
  .item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
    font-size: 20.5pt;
  }
}
@media (min-width: 28.75em) {
  .item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
    font-size: 21.25pt;
  }
}
@media (min-width: 30em) {
  .item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
    font-size: 22pt;
  }
}
@media (min-width: 31.25em) {
  .item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
    font-size: 22.75pt;
  }
}
@media (min-width: 32.5em) {
  .item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
    font-size: 23.5pt;
  }
}
@media (min-width: 33.75em) {
  .item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
    font-size: 24.25pt;
  }
}
@media (min-width: 35em) {
  .item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
    font-size: 25pt;
  }
}
@media (min-width: 36.25em) {
  .item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
    font-size: 25.75pt;
  }
}
@media (min-width: 37.5em) {
  .item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
    font-size: 26.5pt;
  }
}
@media (min-width: 38.75em) {
  .item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
    font-size: 27.25pt;
  }
}
@media (min-width: 40em) {
  .item-1 .could-i-use-a-container-wrapper .should-i-use-a-carousel {
    font-size: 28pt;
  }
}
.item-1 .could-i-use-a-container-wrapper .snugug-north {
  color: #595959;
  text-rendering: optimizeLegibility;
  font-size: 10pt;
}
@media (min-width: 16.25em) {
  .item-1 .could-i-use-a-container-wrapper .snugug-north {
    font-size: 10.5pt;
  }
}
@media (min-width: 17.5em) {
  .item-1 .could-i-use-a-container-wrapper .snugug-north {
    font-size: 11pt;
  }
}
@media (min-width: 18.75em) {
  .item-1 .could-i-use-a-container-wrapper .snugug-north {
    font-size: 11.5pt;
  }
}
@media (min-width: 20em) {
  .item-1 .could-i-use-a-container-wrapper .snugug-north {
    font-size: 12pt;
  }
}
@media (min-width: 21.25em) {
  .item-1 .could-i-use-a-container-wrapper .snugug-north {
    font-size: 12.5pt;
  }
}
@media (min-width: 22.5em) {
  .item-1 .could-i-use-a-container-wrapper .snugug-north {
    font-size: 13pt;
  }
}
@media (min-width: 23.75em) {
  .item-1 .could-i-use-a-container-wrapper .snugug-north {
    font-size: 13.5pt;
  }
}
@media (min-width: 25em) {
  .item-1 .could-i-use-a-container-wrapper .snugug-north {
    font-size: 14pt;
  }
}
@media (min-width: 26.25em) {
  .item-1 .could-i-use-a-container-wrapper .snugug-north {
    font-size: 14.5pt;
  }
}
@media (min-width: 27.5em) {
  .item-1 .could-i-use-a-container-wrapper .snugug-north {
    font-size: 15pt;
  }
}
@media (min-width: 28.75em) {
  .item-1 .could-i-use-a-container-wrapper .snugug-north {
    font-size: 15.5pt;
  }
}
@media (min-width: 30em) {
  .item-1 .could-i-use-a-container-wrapper .snugug-north {
    font-size: 16pt;
  }
}
@media (min-width: 31.25em) {
  .item-1 .could-i-use-a-container-wrapper .snugug-north {
    font-size: 16.5pt;
  }
}
@media (min-width: 32.5em) {
  .item-1 .could-i-use-a-container-wrapper .snugug-north {
    font-size: 17pt;
  }
}
@media (min-width: 33.75em) {
  .item-1 .could-i-use-a-container-wrapper .snugug-north {
    font-size: 17.5pt;
  }
}
@media (min-width: 35em) {
  .item-1 .could-i-use-a-container-wrapper .snugug-north {
    font-size: 18pt;
  }
}
@media (min-width: 36.25em) {
  .item-1 .could-i-use-a-container-wrapper .snugug-north {
    font-size: 18.5pt;
  }
}
@media (min-width: 37.5em) {
  .item-1 .could-i-use-a-container-wrapper .snugug-north {
    font-size: 19pt;
  }
}
@media (min-width: 38.75em) {
  .item-1 .could-i-use-a-container-wrapper .snugug-north {
    font-size: 19.5pt;
  }
}
@media (min-width: 40em) {
  .item-1 .could-i-use-a-container-wrapper .snugug-north {
    font-size: 20pt;
  }
}

.item-2 {
  background: #097BC0;
}
.item-2 .nyc-camp-hashtag-wrapper {
  margin-top: 6em;
}
.item-2 .nyc-camp-hashtag-wrapper a {
  color: #262626;
  font-size: 8.6pt;
  text-rendering: optimizeLegibility;
}
@media (min-width: 16.25em) {
  .item-2 .nyc-camp-hashtag-wrapper a {
    font-size: 9.35pt;
  }
}
@media (min-width: 17.5em) {
  .item-2 .nyc-camp-hashtag-wrapper a {
    font-size: 10.1pt;
  }
}
@media (min-width: 18.75em) {
  .item-2 .nyc-camp-hashtag-wrapper a {
    font-size: 10.85pt;
  }
}
@media (min-width: 20em) {
  .item-2 .nyc-camp-hashtag-wrapper a {
    font-size: 11.6pt;
  }
}
@media (min-width: 21.25em) {
  .item-2 .nyc-camp-hashtag-wrapper a {
    font-size: 12.35pt;
  }
}
@media (min-width: 22.5em) {
  .item-2 .nyc-camp-hashtag-wrapper a {
    font-size: 13.1pt;
  }
}
@media (min-width: 23.75em) {
  .item-2 .nyc-camp-hashtag-wrapper a {
    font-size: 13.85pt;
  }
}
@media (min-width: 25em) {
  .item-2 .nyc-camp-hashtag-wrapper a {
    font-size: 14.6pt;
  }
}
@media (min-width: 26.25em) {
  .item-2 .nyc-camp-hashtag-wrapper a {
    font-size: 15.35pt;
  }
}
@media (min-width: 27.5em) {
  .item-2 .nyc-camp-hashtag-wrapper a {
    font-size: 16.1pt;
  }
}
@media (min-width: 28.75em) {
  .item-2 .nyc-camp-hashtag-wrapper a {
    font-size: 16.85pt;
  }
}
@media (min-width: 30em) {
  .item-2 .nyc-camp-hashtag-wrapper a {
    font-size: 17.6pt;
  }
}
@media (min-width: 31.25em) {
  .item-2 .nyc-camp-hashtag-wrapper a {
    font-size: 18.35pt;
  }
}
@media (min-width: 32.5em) {
  .item-2 .nyc-camp-hashtag-wrapper a {
    font-size: 19.1pt;
  }
}
@media (min-width: 33.75em) {
  .item-2 .nyc-camp-hashtag-wrapper a {
    font-size: 19.85pt;
  }
}
@media (min-width: 35em) {
  .item-2 .nyc-camp-hashtag-wrapper a {
    font-size: 20.6pt;
  }
}
@media (min-width: 36.25em) {
  .item-2 .nyc-camp-hashtag-wrapper a {
    font-size: 21.35pt;
  }
}
@media (min-width: 37.5em) {
  .item-2 .nyc-camp-hashtag-wrapper a {
    font-size: 22.1pt;
  }
}
@media (min-width: 38.75em) {
  .item-2 .nyc-camp-hashtag-wrapper a {
    font-size: 22.85pt;
  }
}
@media (min-width: 40em) {
  .item-2 .nyc-camp-hashtag-wrapper a {
    font-size: 23.6pt;
  }
}

.item-3 {
  background: #285E88;
}
.item-3 img {
  margin-top: 2em;
}
@media (min-width: 37.5em) {
  .item-3 img {
    margin-top: 5em;
  }
}
